@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400")

=transition($property)
  -webkit-transition: $property
  -moz-transition: $property
  -ms-transition: $property
  -o-transition: $property
  transition: $property

=transform($property)
  -webkit-transform: $property
  -moz-transform: $property
  -ms-transform: $property
  -o-transform: $property
  transform: $property

body
  font-family: Open Sans, Verdana, sans-serif

.preload *
  +transition(none !important)
  +transform(none !important)

  .card

    .card__overlay
    
      &:hover

        .card__button, .card__description
          opacity: 0
  
.container
  display: flex
  justify-content: center
  flex-wrap: wrap
  max-width: 960px
  margin: 86px auto

.card
  position: relative
  display: flex
  border-radius: 8px
  margin: 10px
  overflow: hidden
  background-color: rgba(85,85,85,0.4)
  cursor: pointer

  &.card--big
    width: 100%
    max-width: 940px
    height: 520px

  &.card--medium
    width: 460px
    height: 360px

  &.card--small
    width: 220px
    height: 360px

  .card__image
    width: 100%
    height: 100%
    object-fit: cover

  .card__overlay
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(85,85,85,0.4)
    display: flex
    justify-content: center
    align-items: center  

  .card__main-title, .card__title
    position: absolute
    top: 152px
    font-size: 14px
    color: white
    text-transform: uppercase

  .card__main-subtitle
    position: absolute
    top: 180px
    font-size: 34px
    font-weight: bold
    color: white
    text-transform: uppercase

  .card__main-image
    position: absolute
    top: 190px
    width: 223px
    height: auto

  .card__main-description
    position: absolute
    bottom: 205px
    max-width: 520px
    font-size: 16px
    color: white
    text-align: center

  .card__subtitle
    position: absolute
    top: 168px
    font-size: 28px
    font-weight: bold
    color: white
    text-transform: uppercase

  .card__description
    position: absolute
    top: 130px
    font-size: 16px
    color: white
    width: 70%
    text-align: center

  .card__button
    position: absolute
    bottom: 40px
    background-color: transparent
    color: white
    border: 1px solid white
    border-radius: 5px
    padding: 10px 20px
    font-weight: bold
    cursor: pointer

  // Animations
  .card__title, .card__subtitle, .card__description, .card__button
    +transition(all 0.5s ease-in-out)

  .card__description, .card__button
    opacity: 0

  .card__overlay
    
    &:hover

      .card__title, .card__subtitle, .card__description, .card__button
        +transition(all 0.5s ease-in-out)

      .card__title, .card__subtitle
        +transform(translate(0, -100px))

      .card__description
        +transform(translate(0, -10px))

      .card__button, .card__description
        opacity: 1


@media ( max-width: 767px )

  .container
    display: flex
    justify-content: center
    margin: 40px 0

  .card
    width: 280px !important
    height: 280px !important
    max-width: initial

    .card__main-title
      position: absolute
      top: 72px

    .card__main-subtitle
      position: absolute
      font-size: 28px
      top: 100px

    .card__main-image
      position: absolute
      top: 95px
      width: 160px
      height: auto

    .card__main-description
      position: absolute
      bottom: 70px
      max-width: 250px
      font-size: 14px

    .card__title
      position: absolute
      top: 112px

    .card__subtitle
      position: absolute
      top: 135px

    // Animations
    .card__title, .card__subtitle, .card__description, .card__button
      +transition(none !important)

    .card__overlay
      
      &:hover

        .card__title, .card__subtitle, .card__description, .card__button
          +transition(none !important)
          +transform(none !important)

        .card__button, .card__description
          opacity: 0