.container
  display: flex
  justify-content: center
  flex-wrap: wrap
  max-width: 960px
  margin: 86px auto

.card
  background-color: black
  border-radius: 8px
  margin: 10px
  overflow: hidden
  background-color: rgba(85,85,85,0.4)

  &.card--big
    width: 100%
    max-width: 940px
    height: 520px

  &.card--medium
    width: 460px
    height: 360px

  &.card--small
    width: 220px
    height: 360px

  .card__image
    width: 100%

@media ( max-width: 767px )

  .container
    display: flex
    justify-content: center
    margin: 40px 0

  .card
    width: 280px !important
    height: 280px !important
    max-width: initial